---
import { Search } from "../components/search/search";
import RootLayout from "./root-layout.astro";
const { title } = Astro.props;
---

<RootLayout title={title}>
  <Search client:load />

  <main class="container mx-auto flex-1">
    <article
      class="prose pb-20 dark:prose-invert mx-auto
    prose-h1:font-bold prose-h1:text-5xl prose-h2:mb-4 prose-h2:mt-0
    prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
    >
      <slot />
    </article>
  </main>
</RootLayout>
